* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: #EEE;
    max-width: 1200px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 160px;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;}

    div.img > img{
        width: 100%;
        margin: 0 auto;
    }

    div.description{
        width: 100%;
        max-height: 150px;
    }