body#main{
    background: #f5f5f5;
    color: #323232;
}

div#header{
    position: relative;
    width: 100%;
    }
    div#header > div.container{
        text-align: center;
        width: 100%;
    }
        div#header > div.container > span.title{
            font-size: 20px;
            font-weight: bold;
        }
        div#header > div.container > div.link {
            position: absolute;
            top: 0;
            right: 0;
        }
            a{
                padding: 4px;
                font-size: 12px;
            }

h2#more{
    background: #c8c8c8;
    text-align : center;
    width: 160px;
    margin-right: auto;
    margin-left : auto;
    border-radius: 5px;
    font-size: 20px;
}